html {
  width: 500px;
  height: 400px;
}


.reproductor {
  height: 500px; 
}

.list {
  background-color:black;
  color:grey;
  /*display: flex;*/
  align-items: center;
  justify-content: start;
  position: sticky;
  overflow-y: auto;
  height: 410px;
  
}

.buttons {
  background-color: black;
  text-align: center;
  padding-bottom: 25px;
}

.backward {
  border-radius: 50px;
  background-color: transparent;
  border: none;
  color:  green;
  font-size: 30px;
}

.play {
  border-radius: 50px;
  background-color: transparent;
  border: none;
  color:  green;
  font-size: 50px;
}

.forward {
  border-radius: 50px;
  background-color: transparent;
  border: none;
  color:  green;
  font-size: 30px;
}

button {
  background-color: transparent;
  border: none;
  color: grey;

}

li:hover {
  background-image: linear-gradient(to left, black , darkgreen);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}